* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}


header {
    width: 90%;
    margin: 0 auto;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 10vw;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 30vw;
   

}

.nav-item {
    font-size: 17px;
    font-weight: 700;
    list-style-type: none;
    color: #333;
}

.social-media {
    width: 10vw;
    display: flex;
    justify-content: space-between;
}

