* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}


header {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 10vw;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 30vw;
   

}

.nav-item {
    font-size: 17px;
    font-weight: 700;
    list-style-type: none;
    color: #333;
}

.social-media {
    width: 10vw;
    display: flex;
    justify-content: space-between;
}

.main-screen {
    margin-top: 200px;
}

.section-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    z-index: 0;
}

.section-content img {
    width: 40%;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: #333;
    margin: 0;

}

.desc {
    font-size: 20px;
    font-weight: 400;
    color: #626262;
    margin: 30px 0;
}

button {
    font-size: 20px;
    color: white;
    padding: 16px 32px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #2209c4 71%);
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
    border-radius: 5px;
    border: none;

}

button:hover {
    background-image: linear-gradient(to left, #9EEFE1 0%, #2209c4 71%);
    
}

.circle {

    border-radius: 100%;
    background-image: linear-gradient(to right, #9EEFE1 0%, #2209c4 71%);
    z-index: 1;
    position: sticky;
}

.small-size {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 750px;
    right: 800px;

}

.medium-size {
    width: 150px;
    height: 150px;
    position: fixed;
    top: 500px;
    left: 100px;
}

.big-size {
    width: 200px;
    height: 200px;
    position: fixed;
    top: 300px;
    right: 100px;
}